<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="localRhinoEtlExample" connectionString="Server=.;Database=RhinoEtlExamples;Trusted_Connection=True;" />
    <add name="localRhinoEtlCommand" connectionString="Server=.;Database=RhinoEtlExamples;Trusted_Connection=True;" providerName="System.Data.SqlClient.SqlConnection, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </connectionStrings>
</configuration>